body {
    font-family: Arial, sans-serif;
    background-color: #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

form h2 {
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
