body {
    background-color: #b4b4b4;
}


.form-container {
    width: 450px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.fecha-select {
    display: flex;
    gap: 10px;
}

button {
    background-color: #45ba49;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background-color: #23b728;

}

.exito {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}


.btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #a72121;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #ca2626;
}

